<!DOCTYPE html>
<html lang="ja">
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
      逆転スーパー
  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
  </style>
</head>

<body>
  <div class="container">
    <div class="receipt">
      <table class="table receipt">
        <tbody>
          <tr>
            <td>カツ丼</td>
            <td>¥398</td>
          </tr>
          <tr>
            <td>ごはん3パック</td>
            <td>¥298</td>
          </tr>
          <tr>
            <td>ビール</td>
            <td>¥204</td>
          </tr>
          <tr>
            <td>いかげそ</td>
            <td>¥98</td>
          </tr>
          <tr>
            <td>歯磨き粉</td>
            <td>¥148</td>
          </tr>
          <tr>
              <td> </td>
              <td> </td>  
          </tr>
          <tr>
              <td id="discount-title"></td>
              <td id="discount"></td>  
          </tr>
          <tr>
            <td id="subtotal-title">小計</td>
            <td id="subtotal">¥1146</td>
          </tr>
          <tr>
              <td id="total-title">お支払い</td>
              <td id="total">¥1237</td>
            </tr>
          <tr></tr>
          <tr></tr>
        </tbody>
      </table>
    </div>
    <div class="container-payment">
      <div class="btn btn-payment">お支払い</div>
    </div>
  </div>
  <div class="container-character">
    <img id="character" src="images/aoi/normal/open/n.png" width="400" height="601">
  </div>
  <div class="container-treasurer-back">
  </div>
  <div class="container-camera">
      <video id="video">Video stream not available.</video>
  </div>
  <div class="container-treasurer">
    <div class="btn btn-treasurer" id="treasurer"> お会計</div>
    <div class="camera">
      <!-- <form method="POST" enctype="multipart/form-data" , action="/upload">
        <input type="file" name="thumbnail">
        <input type="submit">
      </form>
      <button id="startbutton">Take photo</button><br> -->
      <canvas id="canvas" style='display: none'>
        <textarea id="readStr"></textarea>
      </canvas>
    </div>
  </div>
  <div id="result"></div>
  </div>
  <div class="sound hidden">
    <div class="audio">
      <audio id="voice-happy" preload="auto">
        <source src="https://storage.cloud.google.com/happiness-store.appspot.com/voice/happy.mp3" type="audio/mp3">
      </audio>
      <audio id="voice-unhappy" preload="auto">
        <source src="https://storage.cloud.google.com/happiness-store.appspot.com/voice/unhappy.mp3" type="audio/mp3">
      </audio>
      <audio id="voice-neutral" preload="auto">
        <source src="https://storage.cloud.google.com/happiness-store.appspot.com/voice/neutral.mp3" type="audio/mp3">
      </audio>
      <audio id="voice-thankyou" preload="auto">
        <source src="https://storage.cloud.google.com/happiness-store.appspot.com/voice/thankyou.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>
  <script src="javascripts/main.js"></script>
  <script>
    startup()
  </script>
</body>

</html>
