body {
  padding: 0;
  margin: 0;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ddffff;
}

a {
  color: #00B7FF;
}

.abtn {
  text-decoration: none;
}	
.btn {
  padding: 10px 20px;
  color: white;
  background: orangered;
  border: 1px solid orangered;
  border-radius: 10px;
  display: inline-block;
}
.btn-treasurer{
  font-size: 8em;
  letter-spacing: 0.2em;
  padding-left: 0.3em;
  text-align: center;
  vertical-align: center;
}
.btn-payment {
  width: 100%;
  text-align: center;
  
  margin: 0;
}
.btn:hover {
  color: orangered;
  background: white;
  box-shadow: 0px 0px 5px orangered;
  cursor: hand;
}
.container {
  height: 35em;
  width: 40em;
  margin: auto;
  border: solid 1px #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  position: absolute;
  background-color: #fff;
  text-align: left;
}
.receipt {
  margin-left: 1em;
  margin-top: 2em;
  width: 18em;
  height: 25em;
  border: none;
}
td {
  font-size: 1.1em;
  height: 1em;  
}

.container-treasurer-back {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffdd;
  /* opacity: 0.9; */
  z-index: 10;
  display: block;
  /* display: none; */
}
.container-treasurer {
  height: 40em;
  width: 34em;
  margin: auto;
  margin-top: -19em;
  margin-left: -17em;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-top: 1em;
  z-index: 12;
  display: block;
  /* display: none; */
}
.container-payment {
  width: 15em;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: auto;
  padding: 0;
}
.container-camera {
  position: fixed;
  display: block;
  /* display: none; */
  z-index: 11;
  height: 40em;
  width: -640px;
  margin-top: -12em;
  margin-left: -320px;
  opacity: 0.2;
  position: fixed;
  top: 50%;
  left: 50%;
}

.container-character {
  width: 700px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  position: fixed;
  display: block;
  text-align: right;
  margin: 1em auto auto auto;
}

.blink-price {
	animation: target-fade 2s 1;
}

@keyframes target-fade {
	0% { font-color: rgb(255, 0, 132); }
	100% { font: rgb(0, 0, 0); }
}